{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": ["last 4 versions", "safari >= 8", "ie >= 11"]
        },
        "useBuiltIns": "entry"
      }
    ]
  ]
}