{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": ["safari >= 8", "ie >= 11", "firefox >= 45", "chrome >= 44", "edge >= 14"]
        },
        "useBuiltIns": "@babel/polyfill"
      }
    ]
  ]
}
