html, body {
  height: auto !important;
  overflow-y: auto !important; }

.OutsideLink-Link-module--link--1-yuh {
  cursor: pointer;
  color: #387bc7;
  text-decoration: none;
  transition: color 200ms linear; }
  @media (hover: hover) {
    .OutsideLink-Link-module--link--1-yuh:hover {
      text-decoration: underline; } }

.Blank-module--blank--2YNtX {
  padding: 2.8571rem;
  border-radius: 0.1428rem;
  box-shadow: 0 2.2857rem 2.2857rem 0 rgba(10, 18, 33, 0.15);
  background-color: #fff; }
  @media (max-width: 991px) {
    .Blank-module--blank--2YNtX {
      padding: 1.7142rem;
      box-shadow: 0 0.8571rem 0.8571rem 0 rgba(10, 18, 33, 0.1); } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .Blank-module--blank--2YNtX {
      padding: 1.4285rem; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .Blank-module--blank--2YNtX {
      padding: 1rem; } }

.styles-AboutCardContainer-module--about-card-container--2MBcI {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  overflow: hidden; }
  @media (max-height: 344px) {
    .styles-AboutCardContainer-module--about-card-container--2MBcI {
      padding: 0.8rem; } }

.styles-Title-module--title--KJwsA {
  font-size: 1.2857rem;
  color: #90c53d;
  font-weight: 600;
  margin-bottom: 0.8rem; }
  @media (max-width: 991px) {
    .styles-Title-module--title--KJwsA {
      font-size: 1.1428rem;
      margin-bottom: 0.4rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .styles-Title-module--title--KJwsA {
      font-size: 0.8571rem; } }
  @media (max-width: 812px) and (max-height: 275px) and (orientation: landscape), only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .styles-Title-module--title--KJwsA {
      margin-bottom: 0.2rem; } }

.styles-Date-module--date--1fZ0Q {
  line-height: normal;
  font-weight: 600;
  color: rgba(38, 44, 55, 0.25); }
  @media (max-width: 991px) {
    .styles-Date-module--date--1fZ0Q {
      font-size: 0.8571rem; } }
  @media (max-width: 812px) and (max-height: 275px) and (orientation: landscape), only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .styles-Date-module--date--1fZ0Q {
      font-size: 0.7142rem; } }

.styles-Description-module--description--3FWxT {
  margin: 1.34rem 0;
  overflow: hidden; }
  @media (max-width: 991px) {
    .styles-Description-module--description--3FWxT {
      font-size: 0.8571rem;
      margin: 0.88rem 0; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .styles-Description-module--description--3FWxT {
      font-size: 0.7142rem;
      line-height: 1.4;
      margin: 1rem 0; } }
  @media (max-width: 812px) and (max-height: 275px) and (orientation: landscape), only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .styles-Description-module--description--3FWxT {
      margin: 0.4rem 0;
      font-size: 0.6428rem; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .styles-Description-module--description--3FWxT {
      margin: 0.74rem 0; } }

.styles-Logo-module--logo--1aVyE {
  margin-top: auto;
  width: auto;
  height: 1.4285rem; }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .styles-Logo-module--logo--1aVyE {
      height: 1rem; } }
  @media (max-width: 812px) and (max-height: 275px) and (orientation: landscape), only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .styles-Logo-module--logo--1aVyE {
      height: 0.8rem; } }

a.styles-styles-module--read--3y7pF {
  color: #90c53d; }

.styles-Container-module--container--2H9ja {
  position: relative;
  margin-bottom: 5rem; }
  .styles-Container-module--container--2H9ja:before {
    content: "";
    width: 9.1428rem;
    height: 0.2857rem;
    position: absolute;
    background-color: #f3f4f7;
    top: 0;
    left: 0; }
  @media (max-width: 991px) {
    .styles-Container-module--container--2H9ja {
      margin-bottom: 3.4285rem; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .styles-Container-module--container--2H9ja {
      margin-bottom: 1.7142rem; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .styles-Container-module--container--2H9ja {
      margin-bottom: 2.2857rem; } }

.styles-Logo-module--logo--1dcgc {
  width: auto;
  height: 3.4285rem;
  margin: 2.8rem 0 1.8rem 0; }
  @media (max-width: 1199px) {
    .styles-Logo-module--logo--1dcgc {
      height: 2.8571rem; } }
  @media (max-width: 991px) {
    .styles-Logo-module--logo--1dcgc {
      height: 2.2857rem;
      margin: 1.8rem 0 1rem 0; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .styles-Logo-module--logo--1dcgc {
      height: 1.7142rem;
      margin: 1.4rem 0 0.7rem 0; } }

.styles-Title-module--title--V65bI {
  font-size: 1.2857rem;
  font-weight: 600;
  margin-bottom: 0.8rem; }


.styles-Description-module--description--11FJ6 {
  font-size: 1rem;
  margin: 1.34rem 0;
  line-height: 1.43; }
  @media (max-width: 991px) {
    .styles-Description-module--description--11FJ6 {
      font-size: 0.8571rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .styles-Description-module--description--11FJ6 {
      line-height: 1.4;
      margin: 1rem 0; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .styles-Description-module--description--11FJ6 {
      margin: 0.74rem 0; } }

.styles-styles-module--read--y-UKL {
  color: #90c53d; }

.cms-Viewport-module--viewport--nxPIh {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  z-index: 4; }

.cms-Container-module--container--3Ni2N {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  width: 100vw;
  height: 100vh;
  position: relative; }
  .cms-Container-module--container--3Ni2N.cms-Container-module--scrollable--2R8XR {
    height: auto; }

.cms-Row-module--row--QKXVi {
  padding: 4.4rem; }

.cms-styles-module--aboutBg--1mHQ6 {
  background-image: url(static/russia.152c8c3d.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.Main-module--main--3EzpM {
  max-width: 114.2857rem;
  padding: 5.9285rem 6.4285rem 0 6.4285rem;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
  margin: 0 auto; }
  @media (max-width: 1199px) {
    .Main-module--main--3EzpM {
      padding: 5.9285rem 3.2857rem 0 3.2857rem; } }
  @media (max-width: 991px) {
    .Main-module--main--3EzpM {
      padding: 5.7142rem 2.2857rem 0 2.2857rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .Main-module--main--3EzpM {
      padding: 4.5714rem 1.7142rem 0 1.7142rem; } }

.animation-scaleIn-module--entering--1FwHg {
  -webkit-transform: scale(0.5);
          transform: scale(0.5); }

.animation-scaleIn-module--entered--1dOJf {
  -webkit-transform: scale(1);
          transform: scale(1); }

.animation-scaleIn-module--exiting--yIf7T {
  -webkit-transform: scale(1.5);
          transform: scale(1.5); }

.animation-scaleOut-module--entering--3pi3P {
  -webkit-transform: scale(1.5);
          transform: scale(1.5); }

.animation-scaleOut-module--entered--2pioc {
  -webkit-transform: scale(1);
          transform: scale(1); }

.animation-scaleOut-module--exiting--3p60R {
  -webkit-transform: scale(0.5);
          transform: scale(0.5); }

.animation-transition-module--entered--HJr97 {
  transition-duration: 400ms;
  transition-timing-function: ease;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.animation-transition-module--exiting--3wDcc {
  transition-duration: 400ms;
  transition-timing-function: ease;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.animation-slideUp-module--entering--3fA1j {
  -webkit-transform: translateY(100%);
          transform: translateY(100%); }

.animation-slideUp-module--entered--2AGB8 {
  -webkit-transform: translateY(0px);
          transform: translateY(0px); }

.animation-slideUp-module--exiting--1G7F7 {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }

.animation-slideDown-module--entering--3_2xt {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }

.animation-slideDown-module--entered--1wv85 {
  -webkit-transform: translateY(0px);
          transform: translateY(0px); }

.animation-slideDown-module--exiting--eehl9 {
  -webkit-transform: translateY(100%);
          transform: translateY(100%); }

.animation-fade-module--entering--1g7Sp {
  opacity: 0; }

.animation-fade-module--entered--3b7w- {
  opacity: 1; }

.animation-fade-module--exiting--1FiI7 {
  opacity: 0; }

.animation-styles-module--fadeIn--K09OJ {
  -webkit-animation-name: animation-styles-module--fadeIn--K09OJ;
          animation-name: animation-styles-module--fadeIn--K09OJ;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

@-webkit-keyframes animation-styles-module--fadeIn--K09OJ {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes animation-styles-module--fadeIn--K09OJ {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.animation-styles-module--fadeOut--3Xdqd {
  -webkit-animation-name: animation-styles-module--fadeOut--3Xdqd;
          animation-name: animation-styles-module--fadeOut--3Xdqd;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

@-webkit-keyframes animation-styles-module--fadeOut--3Xdqd {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes animation-styles-module--fadeOut--3Xdqd {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.Section-Side-module--side--3fq9G {
  will-change: transform, opacity; }

@media (max-width: 767px) and (orientation: portrait) {
  .about-Main-module--main--1A8so {
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-start;
            align-items: flex-start; } }

@media (max-width: 812px) and (orientation: landscape) {
  .about-Main-module--main--1A8so {
    padding-bottom: 1.2rem; } }

.about-LeftSide-module--left-side--E61xx {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
          flex-shrink: 0; }
  @media (max-width: 812px) and (orientation: landscape) {
    .about-LeftSide-module--left-side--E61xx {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
              justify-content: center;
      -webkit-flex-direction: column;
              flex-direction: column;
      height: 100%;
      margin-bottom: 1.4rem; }
      .about-LeftSide-module--left-side--E61xx h1 {
        margin-bottom: 0.4rem; } }

.about-Content-module--content--U1hbO {
  position: relative;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  z-index: 4; }

.about-RightSide-module--right-side--nrrDL {
  width: 100%;
  height: 100%; }
  @media (max-width: 767px) and (orientation: portrait) {
    .about-RightSide-module--right-side--nrrDL {
      -webkit-align-self: center;
              align-self: center;
      max-width: 20.1428rem; } }

.about-NewsContainer-module--news-container--2Mvu0 {
  width: 28.5714rem;
  height: 26rem;
  position: relative; }
  @media (max-width: 991px) {
    .about-NewsContainer-module--news-container--2Mvu0 {
      width: 22.8571rem;
      height: 24.3571rem; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .about-NewsContainer-module--news-container--2Mvu0 {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
              justify-content: center;
      width: 100%;
      max-height: 18.0714rem;
      margin-bottom: 3.4rem; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .about-NewsContainer-module--news-container--2Mvu0 {
      height: 100%;
      max-height: 18.0714rem;
      margin-bottom: 1.4rem; } }

.transition-transition-module--entered--1y_2e {
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.transition-transition-module--exiting--3-YAw {
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.transition-fade-module--entering--2HMew {
  opacity: 0; }

.transition-fade-module--entered--KW16D {
  opacity: 1; }

.transition-fade-module--exiting--2-vwg {
  opacity: 0; }

.transition-slideUp-module--entering--2OLuc {
  pointer-events: none;
  -webkit-transform: translateY(40%);
          transform: translateY(40%); }

.transition-slideUp-module--entered--dfIfE {
  -webkit-transform: translateY(0px);
          transform: translateY(0px); }

.transition-slideUp-module--exiting--2O3Xf {
  pointer-events: none;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%); }

.transition-slideDown-module--entering--3LRPf {
  pointer-events: none;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%); }

.transition-slideDown-module--entered--2jxog {
  -webkit-transform: translateY(0px);
          transform: translateY(0px); }

.transition-slideDown-module--exiting--1z1Ma {
  pointer-events: none;
  -webkit-transform: translateY(40%);
          transform: translateY(40%); }

.transition-slideLeft-module--entering--2e4uz {
  pointer-events: none;
  -webkit-transform: translateX(20%);
          transform: translateX(20%); }

.transition-slideLeft-module--entered--1Syd1 {
  -webkit-transform: translateX(0px);
          transform: translateX(0px); }

.transition-slideLeft-module--exiting--cU-3n {
  pointer-events: none;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%); }

.transition-slideRight-module--entering--72J1N {
  pointer-events: none;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%); }

.transition-slideRight-module--entered--2jUH5 {
  -webkit-transform: translateX(0px);
          transform: translateX(0px); }

.transition-slideRight-module--exiting--AFQ7d {
  pointer-events: none;
  -webkit-transform: translateX(20%);
          transform: translateX(20%); }

.transition-scrollScreenshotTransition-module--entered--3j5Mi {
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.transition-scrollScreenshotTransition-module--exiting--IzAqL {
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.transition-scrollScreenshotTransitionNext-module--entered--11B6B {
  transition-delay: 400ms;
  transition-duration: 200ms;
  transition-timing-function: ease;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.transition-scrollScreenshotTransitionNext-module--exiting--2SUxg {
  transition-delay: 400ms;
  transition-duration: 200ms;
  transition-timing-function: ease;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.transition-screenshotSlideUp-module--entering--3JW61 {
  pointer-events: none;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem); }

.transition-screenshotSlideUp-module--entered--3-cdN {
  -webkit-transform: translateY(0px);
          transform: translateY(0px); }

.transition-screenshotSlideUp-module--exiting--1oDAc {
  pointer-events: none;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem); }

.transition-screenshotSlideDown-module--entering--12D_V {
  pointer-events: none;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem); }

.transition-screenshotSlideDown-module--entered--U_mSC {
  -webkit-transform: translateY(0px);
          transform: translateY(0px); }

.transition-screenshotSlideDown-module--exiting--17AGn {
  pointer-events: none;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem); }

.Headlines-BigH1-module--big-h-1--12i4p {
  line-height: normal;
  margin-bottom: 2.1428rem;
  font-size: 4.5714rem; }
  @media (max-width: 1199px) {
    .Headlines-BigH1-module--big-h-1--12i4p {
      font-size: 3.4285rem; } }
  @media (max-width: 991px) {
    .Headlines-BigH1-module--big-h-1--12i4p {
      margin-bottom: 1.4rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .Headlines-BigH1-module--big-h-1--12i4p {
      margin-bottom: 1rem; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .Headlines-BigH1-module--big-h-1--12i4p {
      font-size: 2.2857rem; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .Headlines-BigH1-module--big-h-1--12i4p {
      font-size: 1.7142rem; } }

.Headlines-H1-module--h-1--2-f8n {
  line-height: normal;
  font-size: 3.4285rem;
  margin-bottom: 1.5rem; }
  @media (max-width: 1199px) {
    .Headlines-H1-module--h-1--2-f8n {
      font-size: 2.5714rem; } }
  @media (max-width: 991px) {
    .Headlines-H1-module--h-1--2-f8n {
      font-size: 1.7142rem;
      margin-bottom: 1.2rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .Headlines-H1-module--h-1--2-f8n {
      font-size: 1.4285rem;
      margin-bottom: 1rem; } }
  .Headlines-H1-module--h-1--2-f8n.Headlines-H1-module--portfolio--3r1z8 {
    font-size: 2.5714rem; }
    @media (max-width: 1199px) {
      .Headlines-H1-module--h-1--2-f8n.Headlines-H1-module--portfolio--3r1z8 {
        font-size: 2.2857rem; } }
    @media (max-width: 991px) {
      .Headlines-H1-module--h-1--2-f8n.Headlines-H1-module--portfolio--3r1z8 {
        font-size: 1.7142rem; } }
    @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
      .Headlines-H1-module--h-1--2-f8n.Headlines-H1-module--portfolio--3r1z8 {
        font-size: 1.4285rem; } }

.Headlines-H2-module--h-2--1mVJ6 {
  line-height: normal;
  font-size: 3rem;
  margin-bottom: 2.1428rem; }
  @media (max-width: 1199px) {
    .Headlines-H2-module--h-2--1mVJ6 {
      font-size: 2.2857rem; } }
  @media (max-width: 991px) {
    .Headlines-H2-module--h-2--1mVJ6 {
      font-size: 1.7142rem;
      margin-bottom: 1.8428rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .Headlines-H2-module--h-2--1mVJ6 {
      font-size: 1.42857rem;
      margin-bottom: 1rem; } }
  .Headlines-H2-module--h-2--1mVJ6.Headlines-H2-module--small--NS77u {
    font-size: 2.5714rem; }
    @media (max-width: 1199px) {
      .Headlines-H2-module--h-2--1mVJ6.Headlines-H2-module--small--NS77u {
        font-size: 2.2857rem; } }
    @media (max-width: 991px) {
      .Headlines-H2-module--h-2--1mVJ6.Headlines-H2-module--small--NS77u {
        font-size: 1.4285rem; } }
    @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
      .Headlines-H2-module--h-2--1mVJ6.Headlines-H2-module--small--NS77u {
        font-size: 1.2857rem; } }

.Headlines-H3-module--h-3--27MQu {
  line-height: normal;
  font-size: 1.7142rem; }
  @media (max-width: 991px) {
    .Headlines-H3-module--h-3--27MQu {
      font-size: 1.4285rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .Headlines-H3-module--h-3--27MQu {
      font-size: 1.2857rem; } }

.Headlines-H4-module--h-4--z20qo {
  font-size: 1.4285rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem; }

.Headlines-Paragraph-module--paragraph--2uMT3 {
  font-size: 1.1428rem;
  line-height: 1.5;
  margin-bottom: 1.44rem; }
  @media (max-width: 991px) {
    .Headlines-Paragraph-module--paragraph--2uMT3 {
      font-size: 1rem;
      line-height: 1.43; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .Headlines-Paragraph-module--paragraph--2uMT3 {
      font-size: 0.8571rem;
      line-height: 1.5; } }
  .Headlines-Paragraph-module--paragraph--2uMT3.Headlines-Paragraph-module--big--35E7x {
    font-size: 1.2857rem;
    line-height: 1.33;
    margin-bottom: 2rem; }
    @media (max-width: 1199px) {
      .Headlines-Paragraph-module--paragraph--2uMT3.Headlines-Paragraph-module--big--35E7x {
        font-size: 1.1428rem;
        line-height: 1.5; } }
    @media (max-width: 991px) {
      .Headlines-Paragraph-module--paragraph--2uMT3.Headlines-Paragraph-module--big--35E7x {
        font-size: 1rem;
        line-height: 1.43;
        margin-bottom: 1.64rem; } }
    @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
      .Headlines-Paragraph-module--paragraph--2uMT3.Headlines-Paragraph-module--big--35E7x {
        font-size: 0.8571rem;
        line-height: 1.5;
        margin-bottom: 1rem; } }

.styles-Row-module--row--UkGut {
  font-size: 1.2857rem;
  display: -webkit-flex;
  display: flex;
  margin: 0 0 2.8571rem 0; }
  @media (max-width: 991px) {
    .styles-Row-module--row--UkGut {
      font-size: 1.1428rem;
      margin: 0 0 1.8571rem 0; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .styles-Row-module--row--UkGut {
      -webkit-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .styles-Row-module--row--UkGut {
      font-size: 1rem;
      margin: 0 0 1rem 0; } }

.styles-ContactIcon-module--contact-icon--2wtw9 {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.6rem; }

.styles-Name-module--name--1lXIG {
  font-weight: bold;
  padding: 0 2rem 0 0;
  line-height: 1.33;
  width: calc(100% / 3);
  -webkit-flex-shrink: 0;
          flex-shrink: 0; }
  @media (max-width: 767px) and (orientation: portrait) {
    .styles-Name-module--name--1lXIG {
      width: 100%;
      padding: 0;
      margin-bottom: 0.8rem; } }

.styles-Value-module--value--3DdFE.styles-Value-module--isContacts--1WIlS {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column; }

.styles-Value-module--value--3DdFE.styles-Value-module--isSkills--2cEgx {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }

.styles-Contact-module--contact--1NvtF {
  color: #262c37;
  text-decoration: none;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  margin-bottom: 1.4rem; }
  .styles-Contact-module--contact--1NvtF.styles-Contact-module--isField--IkIg7 {
    font-size: 1.1428rem; }
    @media (max-width: 991px) {
      .styles-Contact-module--contact--1NvtF.styles-Contact-module--isField--IkIg7 {
        font-size: 1rem; } }
    @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
      .styles-Contact-module--contact--1NvtF.styles-Contact-module--isField--IkIg7 {
        font-size: 0.8571rem; } }
  .styles-Contact-module--contact--1NvtF:last-child {
    margin-bottom: 0; }

.styles-Badge-module--badge--2vVva {
  white-space: nowrap;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.15rem 0.6rem;
  color: #fff;
  border-radius: 1px;
  margin: 0 0.5rem 0.5rem 0; }
  @media (max-width: 991px) {
    .styles-Badge-module--badge--2vVva {
      font-size: 0.8571rem;
      padding: 0 0.6rem; } }

.Article-module--article--2ThG2 {
  max-width: 64.2857rem;
  margin: 0 auto; }
  .Article-module--article--2ThG2 > p:last-child {
    margin-bottom: 0; }

.Section-module--section--1ccUB {
  width: 100%;
  padding: 8.4rem 8.1428rem 9rem 8.1428rem; }
  @media (max-width: 1199px) {
    .Section-module--section--1ccUB {
      padding: 6rem 7.8571rem 6.4rem 7.8571rem; } }
  @media (max-width: 991px) {
    .Section-module--section--1ccUB {
      padding: 4.7rem 3.1428rem 5.1rem 3.1428rem; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .Section-module--section--1ccUB {
      padding: 3.2rem 1.4285rem 3.6rem 1.4285rem; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .Section-module--section--1ccUB {
      padding: 2rem 1.4285rem 2.4rem 1.4285rem; } }
  .Section-module--section--1ccUB.Section-module--withoutPaddingTop--1SUgL {
    padding-top: 0; }
  .Section-module--section--1ccUB.Section-module--withoutPaddingBottom--3nN5A {
    padding-bottom: 0; }

.UnorderedList-module--unordered-list--2lxBH {
  margin: 0 0 1.4rem 0; }
  .UnorderedList-module--unordered-list--2lxBH li {
    font-size: 1rem;
    line-height: normal;
    position: relative;
    list-style-type: none;
    padding-left: 3rem; }
    .UnorderedList-module--unordered-list--2lxBH li:before {
      top: 0.5rem;
      display: inline-block;
      position: absolute;
      left: 0;
      content: "";
      -webkit-flex-shrink: 0;
              flex-shrink: 0;
      width: 6px;
      height: 6px;
      margin: 0 0.6rem 0 1rem;
      background-color: #387bc7;
      border-radius: 50%; }
    .UnorderedList-module--unordered-list--2lxBH li:last-child {
      margin-bottom: 0; }
    @media (max-width: 1199px) {
      .UnorderedList-module--unordered-list--2lxBH li {
        padding-left: 2rem; } }
    @media (max-width: 991px) {
      .UnorderedList-module--unordered-list--2lxBH li {
        font-size: 0.8571rem; } }
    @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
      .UnorderedList-module--unordered-list--2lxBH li {
        font-size: 0.7142rem; }
        .UnorderedList-module--unordered-list--2lxBH li:before {
          top: 0.4rem;
          width: 4px;
          height: 4px; } }
  .UnorderedList-module--unordered-list--2lxBH:before {
    display: block;
    content: attr(aria-label);
    font-size: 1.1428rem;
    line-height: 1.5;
    margin-bottom: 1.2rem; }
    @media (max-width: 991px) {
      .UnorderedList-module--unordered-list--2lxBH:before {
        font-size: 1rem;
        line-height: 1.43; } }
    @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
      .UnorderedList-module--unordered-list--2lxBH:before {
        font-size: 0.8571rem;
        line-height: 1.5;
        margin-bottom: 0.6rem; } }
  .UnorderedList-module--unordered-list--2lxBH.UnorderedList-module--lightGreyBlue--3npzT li:before {
    background-color: #90b7c9; }
  .UnorderedList-module--unordered-list--2lxBH.UnorderedList-module--azure--1_sw0 li:before {
    background-color: #009aeb; }


@media (max-width: 1199px) {
  .vacancy-VacancyArticle-module--vacancy-article--3vVqa {
    max-width: 55.7142rem; } }

@media (max-width: 991px) {
  .vacancy-VacancyArticle-module--vacancy-article--3vVqa {
    max-width: 48rem; } }

@media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
  .vacancy-VacancyArticle-module--vacancy-article--3vVqa {
    width: 100%;
    padding: 0 1.7142rem; } }

.vacancy-VacancyAvatar-module--vacancy-avatar--2Dhmf {
  width: 100%;
  height: 11.4285rem;
  margin-bottom: 3.2857rem;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain; }
  @media (max-width: 1199px) {
    .vacancy-VacancyAvatar-module--vacancy-avatar--2Dhmf {
      height: 9.14285rem;
      margin-bottom: 2.2857rem; } }
  @media (max-width: 991px) {
    .vacancy-VacancyAvatar-module--vacancy-avatar--2Dhmf {
      height: 7.4285rem;
      margin-bottom: 1.2857rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .vacancy-VacancyAvatar-module--vacancy-avatar--2Dhmf {
      height: 5.7142rem; } }

.vacancy-VacancyTitle-module--vacancy-title--ycjwe {
  margin-bottom: 5rem; }
  @media (max-width: 991px) {
    .vacancy-VacancyTitle-module--vacancy-title--ycjwe {
      font-size: 2.5714rem;
      margin-bottom: 3rem; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .vacancy-VacancyTitle-module--vacancy-title--ycjwe {
      font-size: 2.2857rem;
      margin-bottom: 2.2rem; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .vacancy-VacancyTitle-module--vacancy-title--ycjwe {
      font-size: 1.7142rem;
      margin-bottom: 1.8rem; } }

.vacancy-SkillSection-module--skill-section--eJ_Hx {
  margin-top: 8.8571rem;
  background-color: #f3f4f7; }
  @media (max-width: 1199px) {
    .vacancy-SkillSection-module--skill-section--eJ_Hx {
      margin-top: 6.8rem; } }
  @media (max-width: 991px) {
    .vacancy-SkillSection-module--skill-section--eJ_Hx {
      margin-top: 3.4rem; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .vacancy-SkillSection-module--skill-section--eJ_Hx {
      margin-top: 2.8rem;
      padding: 3rem 0 3.1428rem 0; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .vacancy-SkillSection-module--skill-section--eJ_Hx {
      margin-top: 1.8rem;
      padding: 2rem 0 2.2857rem 0; } }

.vacancy-Ul-module--ul--3shgt ul {
  margin: 0 0 4rem 0; }
  .vacancy-Ul-module--ul--3shgt ul li {
    margin: 0 0 1.4rem 0.8rem;
    font-size: 1.2857rem;
    padding-left: 3rem; }
    .vacancy-Ul-module--ul--3shgt ul li:before {
      width: 8px;
      height: 8px;
      margin-right: 1.7142rem;
      background-color: rgba(38, 44, 55, 0.25); }
      @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
        .vacancy-Ul-module--ul--3shgt ul li:before {
          width: 6px;
          height: 6px;
          margin: 0 0.6rem; } }
    @media (max-width: 1199px) {
      .vacancy-Ul-module--ul--3shgt ul li {
        font-size: 1.1428rem;
        margin: 0 0 1.4rem 0; } }
    @media (max-width: 991px) {
      .vacancy-Ul-module--ul--3shgt ul li {
        font-size: 1rem; } }
    @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
      .vacancy-Ul-module--ul--3shgt ul li {
        padding-left: 1.6rem;
        font-size: 0.8571rem; } }
  @media (max-width: 1199px) {
    .vacancy-Ul-module--ul--3shgt ul {
      margin: 0 0 3rem 0; } }
  @media (max-width: 991px) {
    .vacancy-Ul-module--ul--3shgt ul {
      margin: 0 0 2rem 0; } }

.vacancy-Test-module--test--2_6aC {
  padding: 1.6rem;
  text-align: center;
  box-shadow: 0 0.8571rem 0.8571rem 0 rgba(10, 18, 33, 0.1); }
  @media (max-width: 991px) {
    .vacancy-Test-module--test--2_6aC {
      padding: 1.4rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .vacancy-Test-module--test--2_6aC {
      padding: 1.2rem; } }

.vacancy-TestTitle-module--test-title--1KdJ_ {
  font-size: 1.2857rem;
  font-style: italic;
  font-weight: normal;
  line-height: 1.33; }
  @media (max-width: 1199px) {
    .vacancy-TestTitle-module--test-title--1KdJ_ {
      font-size: 1.14285rem; } }
  @media (max-width: 991px) {
    .vacancy-TestTitle-module--test-title--1KdJ_ {
      font-size: 1rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .vacancy-TestTitle-module--test-title--1KdJ_ {
      font-size: 0.8571rem;
      margin-bottom: 0.8rem; } }

.vacancy-DownloadTest-module--download-test--1tojx {
  font-weight: 600;
  color: #00b27b;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
          align-items: center;
  font-size: 1.1428rem;
  text-decoration: none; }
  @media (hover: hover) {
    .vacancy-DownloadTest-module--download-test--1tojx:hover {
      text-decoration: underline; } }
  .vacancy-DownloadTest-module--download-test--1tojx svg {
    margin-right: 1.2857rem; }
  @media (max-width: 991px) {
    .vacancy-DownloadTest-module--download-test--1tojx {
      font-size: 1rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .vacancy-DownloadTest-module--download-test--1tojx {
      font-size: 0.8571rem; }
      .vacancy-DownloadTest-module--download-test--1tojx svg {
        margin-right: 0.8rem; } }

.vacancy-ConditionsSection-module--conditions-section--2KQWK {
  padding: 8.8rem 0 0 0;
  background-color: #00b27b;
  color: #fff; }
  @media (max-width: 1199px) {
    .vacancy-ConditionsSection-module--conditions-section--2KQWK {
      padding: 6.8rem 0 0 0; } }
  @media (max-width: 991px) {
    .vacancy-ConditionsSection-module--conditions-section--2KQWK {
      padding: 4.8rem 0 0 0; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .vacancy-ConditionsSection-module--conditions-section--2KQWK {
      padding: 2.8rem 0 0 0; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .vacancy-ConditionsSection-module--conditions-section--2KQWK {
      padding: 2.2857rem 0 0 0; } }

.vacancy-ConditionTitle-module--condition-title--ZyCWP {
  margin-bottom: 3.6rem; }
  @media (max-width: 1199px) {
    .vacancy-ConditionTitle-module--condition-title--ZyCWP {
      margin-bottom: 2.8rem; } }
  @media (max-width: 991px) {
    .vacancy-ConditionTitle-module--condition-title--ZyCWP {
      margin-bottom: 1.7142rem; } }

.vacancy-Footer-module--footer--orGVr {
  position: relative;
  padding: 5.2857rem 0;
  background-color: rgba(38, 44, 55, 0.1); }
  @media (max-width: 1199px) {
    .vacancy-Footer-module--footer--orGVr {
      padding: 3.64rem 0; } }
  @media (max-width: 991px) {
    .vacancy-Footer-module--footer--orGVr {
      padding: 3.14rem 0; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .vacancy-Footer-module--footer--orGVr {
      padding: 2.2rem; } }

.vacancy-FooterTitle-module--footer-title--1d23D {
  text-align: center;
  font-size: 1.7142rem;
  line-height: normal;
  margin-bottom: 0; }
  .vacancy-FooterTitle-module--footer-title--1d23D p:last-of-type {
    margin-bottom: 0; }
  @media (max-width: 1199px) {
    .vacancy-FooterTitle-module--footer-title--1d23D {
      font-size: 1.4285rem; } }
  @media (max-width: 991px) {
    .vacancy-FooterTitle-module--footer-title--1d23D {
      font-size: 1.2857rem; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .vacancy-FooterTitle-module--footer-title--1d23D {
      font-size: 1rem; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .vacancy-FooterTitle-module--footer-title--1d23D {
      font-size: 0.8571rem; } }

.vacancy-ConditionBlock-module--condition-block--JeX-9 {
  margin: 0 0 5rem 0; }
  .vacancy-ConditionBlock-module--condition-block--JeX-9 ul {
    margin: 0;
    list-style: none; }
    .vacancy-ConditionBlock-module--condition-block--JeX-9 ul li {
      position: relative;
      font-size: 1.2857rem;
      line-height: 1.33;
      margin-bottom: 1.4rem; }
      .vacancy-ConditionBlock-module--condition-block--JeX-9 ul li:after {
        content: "";
        display: table;
        clear: both; }
      .vacancy-ConditionBlock-module--condition-block--JeX-9 ul li p {
        padding-top: 0.4rem;
        overflow: hidden; }
        @media (max-width: 991px) {
          .vacancy-ConditionBlock-module--condition-block--JeX-9 ul li p {
            padding-top: 0.2rem; } }
        @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
          .vacancy-ConditionBlock-module--condition-block--JeX-9 ul li p {
            padding-top: 0; } }
      @media (max-width: 1199px) {
        .vacancy-ConditionBlock-module--condition-block--JeX-9 ul li {
          font-size: 1.1428rem;
          line-height: 1.5;
          margin-bottom: 1.2rem; } }
      @media (max-width: 991px) {
        .vacancy-ConditionBlock-module--condition-block--JeX-9 ul li {
          font-size: 1rem;
          line-height: 1.43;
          margin-bottom: 1rem; } }
      @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
        .vacancy-ConditionBlock-module--condition-block--JeX-9 ul li {
          font-size: 0.8571rem;
          line-height: 1.5; } }
      .vacancy-ConditionBlock-module--condition-block--JeX-9 ul li img {
        float: left;
        vertical-align: middle;
        margin-right: 1.7142rem;
        width: 2rem;
        height: auto; }
        @media (max-width: 991px) {
          .vacancy-ConditionBlock-module--condition-block--JeX-9 ul li img {
            width: 1.4285rem;
            margin-right: 1.4rem; } }
        @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
          .vacancy-ConditionBlock-module--condition-block--JeX-9 ul li img {
            margin-right: 1rem; } }
  @media (max-width: 991px) {
    .vacancy-ConditionBlock-module--condition-block--JeX-9 {
      margin: 0 0 3.4rem 0; } }

.vacancy-styles-module--grayLinks--1xty8 a {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none; }
  @media (hover: hover) {
    .vacancy-styles-module--grayLinks--1xty8 a:hover {
      text-decoration: underline; } }

.vacancy-styles-module--greenLinks--26mDg a {
  font-weight: 600;
  color: #00b27b;
  text-decoration: none; }
  @media (hover: hover) {
    .vacancy-styles-module--greenLinks--26mDg a:hover {
      text-decoration: underline; } }

.vacancy-styles-module--header--3KUIg {
  padding-top: 15.8571rem; }
  @media (max-width: 1199px) {
    .vacancy-styles-module--header--3KUIg {
      padding-top: 14rem; } }
  @media (max-width: 991px) {
    .vacancy-styles-module--header--3KUIg {
      padding-top: 8rem; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .vacancy-styles-module--header--3KUIg {
      padding-top: 7rem; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .vacancy-styles-module--header--3KUIg {
      padding-top: 5.2857rem; } }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit;
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: 700; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button; }

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box; }

* {
  box-sizing: inherit; }

*:before {
  box-sizing: inherit; }

*:after {
  box-sizing: inherit; }

body {
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt"; }

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0; }

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1; }

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1; }

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1; }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    h3 {
      margin-bottom: 1rem; } }

h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1; }

h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1; }

h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1; }

hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none; }

ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none; }

dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem; }

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%; }

fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: rgba(0, 0, 0, 0.2);
  border: none;
  height: 1px; }

address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

b {
  font-weight: bold; }

strong {
  font-weight: bold; }

dt {
  font-weight: bold; }

th {
  font-weight: bold; }

li {
  margin-bottom: calc(1.45rem / 2); }

ol li {
  padding-left: 0; }

ul li {
  padding-left: 0; }

li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2); }

li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2); }

blockquote *:last-child {
  margin-bottom: 0; }

li *:last-child {
  margin-bottom: 0; }

p *:last-child {
  margin-bottom: 0; }

li > p {
  margin-bottom: calc(1.45rem / 2); }

code {
  font-size: 0.85rem;
  line-height: 1.45rem; }

kbd {
  font-size: 0.85rem;
  line-height: 1.45rem; }

samp {
  font-size: 0.85rem;
  line-height: 1.45rem; }

abbr {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help; }

acronym {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help; }

abbr[title] {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help;
  text-decoration: none; }

thead {
  text-align: left; }

td,
th {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px); }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

tt,
code {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em; }

pre code {
  background: none;
  line-height: 1.42; }

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " "; }

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: ""; }

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%; } }

html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Open Sans", Tahoma, sans-serif;
  color: #262c37;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;
  overflow: hidden;
  width: 100%;
  height: 100%; }

img {
  outline: none; }

#___gatsby {
  width: 100%;
  height: 100%; }
  #___gatsby > div:first-child {
    width: 100%;
    height: 100%; }


/*# sourceMappingURL=cms.css.map*/