@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic);
.styles-ScrollBar-module--scroll-bar--iWGv3 {
  width: 100%;
  height: 100%; }
  .styles-ScrollBar-module--scroll-bar--iWGv3 .scroll-content {
    width: 100%;
    height: 100%;
    will-change: transform; }
    .styles-ScrollBar-module--scroll-bar--iWGv3 .scroll-content > div:first-child {
      width: 100%;
      height: 100%; }
  .styles-ScrollBar-module--scroll-bar--iWGv3.styles-ScrollBar-module--disableHover--1_lMI * {
    pointer-events: none; }
  .styles-ScrollBar-module--scroll-bar--iWGv3 .scrollbar-track {
    display: none !important; }

.styles-styles-module--swiper--2IGOr {
  width: 100%;
  height: 100%; }

.Buttons-Button-module--button--1YWxD {
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 200ms ease; }
  .Buttons-Button-module--button--1YWxD:focus {
    outline: none; }
  .Buttons-Button-module--button--1YWxD.Buttons-Button-module--raisedButton--3QPwm {
    padding: 0.4rem 0.8rem;
    font-weight: 600;
    color: #262c37;
    background-color: #fff;
    border: 2px solid #90c53d;
    border-radius: 1.2857rem; }
    .Buttons-Button-module--button--1YWxD.Buttons-Button-module--raisedButton--3QPwm.Buttons-Button-module--isActive--1kgg3 {
      cursor: default;
      color: #fff;
      background-color: #90c53d; }
    .Buttons-Button-module--button--1YWxD.Buttons-Button-module--raisedButton--3QPwm.Buttons-Button-module--primary--3JLMp {
      line-height: 1;
      padding: 0;
      height: 2.4285rem;
      color: #fff;
      background-color: #90c53d; }

.IconButtons-IconButton-module--icon-button--2pAY2 {
  padding: 0.4rem;
  width: 1.4285rem;
  height: 1.4285rem;
  box-sizing: content-box;
  transition: none; }

.IconButtons-Hamburger-module--hamburger--3OmLi {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIyLjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyMCAxNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjAgMTQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHRpdGxlPkdyb3VwIDEyPC90aXRsZT4KPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CjxnPgoJPHJlY3Qgd2lkdGg9IjIwIiBoZWlnaHQ9IjIiLz4KCTxyZWN0IHk9IjYiIHdpZHRoPSIyMCIgaGVpZ2h0PSIyIi8+Cgk8cmVjdCB5PSIxMiIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIiLz4KPC9nPgo8L3N2Zz4K) center center no-repeat;
  background-size: 1.4285rem 1rem; }
  .IconButtons-Hamburger-module--hamburger--3OmLi.IconButtons-Hamburger-module--isOpen--1C-1y {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIyLjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxNiAxNiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTYgMTY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHRpdGxlPkdyb3VwIDY8L3RpdGxlPgo8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KPHBvbHlnb24gcG9pbnRzPSIxNS43LDEuNyAxNC4zLDAuMyA4LDYuNiAxLjcsMC4zIDAuMywxLjcgNi42LDggMC4zLDE0LjMgMS43LDE1LjcgOCw5LjQgMTQuMywxNS43IDE1LjcsMTQuMyA5LjQsOCAiLz4KPC9zdmc+Cg==) center center no-repeat;
    background-size: 1.4285rem 1rem; }

.common-common-module--container--1Rsjr {
  max-width: 114.2857rem;
  padding-left: 6.4285rem;
  padding-right: 6.4285rem; }
  @media (max-width: 1199px) {
    .common-common-module--container--1Rsjr {
      padding-left: 3.2857rem;
      padding-right: 3.2857rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .common-common-module--container--1Rsjr {
      padding-left: 1.7142rem;
      padding-right: 1.7142rem; } }

.Atoms-Title-module--title--1C3SV {
  font-size: 1.2857rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  line-height: normal; }
  @media (max-width: 1199px) {
    .Atoms-Title-module--title--1C3SV {
      font-size: 1.1428rem; } }
  @media (max-width: 991px) {
    .Atoms-Title-module--title--1C3SV {
      font-size: 1rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .Atoms-Title-module--title--1C3SV {
      font-size: 0.8571rem; } }

.Atoms-H2-module--h-2--3szHJ {
  line-height: normal;
  font-size: 3.4285rem;
  margin-bottom: 2.1428rem; }
  @media (max-width: 1199px) {
    .Atoms-H2-module--h-2--3szHJ {
      font-size: 2.2857rem;
      margin-bottom: 2rem; } }
  @media (max-width: 991px) {
    .Atoms-H2-module--h-2--3szHJ {
      font-size: 1.7142rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .Atoms-H2-module--h-2--3szHJ {
      font-size: 1.2857rem;
      margin-bottom: 1.4rem; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .Atoms-H2-module--h-2--3szHJ {
      margin-bottom: 1rem; } }

.Atoms-Link-module--link--3mqRD {
  color: #262c37;
  display: block;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: color 200ms ease; }
  @media (hover: hover) {
    .Atoms-Link-module--link--3mqRD:hover {
      color: #90c53d; } }
  .Atoms-Link-module--link--3mqRD.Atoms-Link-module--isActive--Xdd5b {
    cursor: default;
    color: #90c53d; }
    .Atoms-Link-module--link--3mqRD.Atoms-Link-module--isActive--Xdd5b > span {
      cursor: default;
      color: #90c53d; }
  .Atoms-Link-module--link--3mqRD.Atoms-Link-module--little--1uFjr {
    margin: 0.4rem 0 0 0.5rem;
    font-size: 0.8571rem; }
  .Atoms-Link-module--link--3mqRD:last-child {
    margin-bottom: 0; }
  .Atoms-Link-module--link--3mqRD.Atoms-Link-module--title--bjev3 {
    cursor: default; }
    @media (hover: hover) {
      .Atoms-Link-module--link--3mqRD.Atoms-Link-module--title--bjev3:hover {
        color: #262c37; } }
    @media (hover: hover) {
      .Atoms-Link-module--link--3mqRD.Atoms-Link-module--title--bjev3.Atoms-Link-module--isActive--Xdd5b:hover {
        color: #90c53d; } }

.Atoms-GatsbyLink-module--gatsby-link--3PJ5j {
  font-size: 1.2857rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #262c37;
  display: inline-block;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: color 200ms ease; }
  @media (hover: hover) {
    .Atoms-GatsbyLink-module--gatsby-link--3PJ5j:hover {
      color: #90c53d; } }
  @media (max-width: 1199px) {
    .Atoms-GatsbyLink-module--gatsby-link--3PJ5j {
      font-size: 1.1428rem; } }
  @media (max-width: 991px) {
    .Atoms-GatsbyLink-module--gatsby-link--3PJ5j {
      font-size: 1rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .Atoms-GatsbyLink-module--gatsby-link--3PJ5j {
      font-size: 0.8571rem; } }

.animation-scaleIn-module--entering--1FwHg {
  -webkit-transform: scale(0.5);
          transform: scale(0.5); }

.animation-scaleIn-module--entered--1dOJf {
  -webkit-transform: scale(1);
          transform: scale(1); }

.animation-scaleIn-module--exiting--yIf7T {
  -webkit-transform: scale(1.5);
          transform: scale(1.5); }

.animation-scaleOut-module--entering--3pi3P {
  -webkit-transform: scale(1.5);
          transform: scale(1.5); }

.animation-scaleOut-module--entered--2pioc {
  -webkit-transform: scale(1);
          transform: scale(1); }

.animation-scaleOut-module--exiting--3p60R {
  -webkit-transform: scale(0.5);
          transform: scale(0.5); }

.animation-transition-module--entered--HJr97 {
  transition-duration: 400ms;
  transition-timing-function: ease;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.animation-transition-module--exiting--3wDcc {
  transition-duration: 400ms;
  transition-timing-function: ease;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.animation-slideUp-module--entering--3fA1j {
  -webkit-transform: translateY(100%);
          transform: translateY(100%); }

.animation-slideUp-module--entered--2AGB8 {
  -webkit-transform: translateY(0px);
          transform: translateY(0px); }

.animation-slideUp-module--exiting--1G7F7 {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }

.animation-fade-module--entering--1g7Sp {
  opacity: 0; }

.animation-fade-module--entered--3b7w- {
  opacity: 1; }

.animation-fade-module--exiting--1FiI7 {
  opacity: 0; }

.animation-styles-module--fadeIn--K09OJ {
  -webkit-animation-name: animation-styles-module--fadeIn--K09OJ;
          animation-name: animation-styles-module--fadeIn--K09OJ;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

@-webkit-keyframes animation-styles-module--fadeIn--K09OJ {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes animation-styles-module--fadeIn--K09OJ {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.animation-styles-module--fadeOut--3Xdqd {
  -webkit-animation-name: animation-styles-module--fadeOut--3Xdqd;
          animation-name: animation-styles-module--fadeOut--3Xdqd;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1; }

@-webkit-keyframes animation-styles-module--fadeOut--3Xdqd {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes animation-styles-module--fadeOut--3Xdqd {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.LinkComponent-styles-module--isActive--1j2gA {
  font-weight: 600; }

.styles-Menu-module--menu--1ckNL {
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 2.4rem 0 0 0; }
  .styles-Menu-module--menu--1ckNL li > a,
  .styles-Menu-module--menu--1ckNL li > h4 {
    white-space: nowrap;
    font-size: 1rem; }
  .styles-Menu-module--menu--1ckNL.styles-Menu-module--leftSide--1XpGG {
    padding: 0; }
    .styles-Menu-module--menu--1ckNL.styles-Menu-module--leftSide--1XpGG > ul {
      margin-bottom: 3.9285rem; }
      @media (max-width: 1024px) {
        .styles-Menu-module--menu--1ckNL.styles-Menu-module--leftSide--1XpGG > ul {
          margin-bottom: 2.8571rem; } }
      .styles-Menu-module--menu--1ckNL.styles-Menu-module--leftSide--1XpGG > ul:last-child {
        margin-bottom: 0; }
    .styles-Menu-module--menu--1ckNL.styles-Menu-module--leftSide--1XpGG li > a,
    .styles-Menu-module--menu--1ckNL.styles-Menu-module--leftSide--1XpGG li h4 {
      white-space: normal;
      font-size: 1.4285rem;
      margin-bottom: 0;
      display: inline-block; }
      @media (max-width: 1199px) {
        .styles-Menu-module--menu--1ckNL.styles-Menu-module--leftSide--1XpGG li > a,
        .styles-Menu-module--menu--1ckNL.styles-Menu-module--leftSide--1XpGG li h4 {
          font-size: 1.1428rem; } }
      @media (max-width: 991px) {
        .styles-Menu-module--menu--1ckNL.styles-Menu-module--leftSide--1XpGG li > a,
        .styles-Menu-module--menu--1ckNL.styles-Menu-module--leftSide--1XpGG li h4 {
          font-size: 1rem; } }
      @media (max-width: 812px) and (orientation: landscape) {
        .styles-Menu-module--menu--1ckNL.styles-Menu-module--leftSide--1XpGG li > a,
        .styles-Menu-module--menu--1ckNL.styles-Menu-module--leftSide--1XpGG li h4 {
          font-size: 0.8571rem; } }
    .styles-Menu-module--menu--1ckNL.styles-Menu-module--leftSide--1XpGG li > menu > a {
      margin: 0.64rem 0 0 1rem;
      font-size: 1rem; }
    @media (max-width: 940px) {
      .styles-Menu-module--menu--1ckNL.styles-Menu-module--leftSide--1XpGG li {
        margin-bottom: 0.6rem; } }
    .styles-Menu-module--menu--1ckNL.styles-Menu-module--leftSide--1XpGG li:last-child {
      margin-bottom: 0; }

.styles-MenuList-module--menu-list--1s3hl {
  margin: 0 2.8571rem 0 0; }
  .styles-MenuList-module--menu-list--1s3hl:last-child {
    margin-right: 0; }
  .styles-MenuList-module--menu-list--1s3hl > li a {
    transition: color 200ms ease, font-weight 200ms ease; }
    @media (hover: hover) {
      .styles-MenuList-module--menu-list--1s3hl > li a:hover {
        color: #90c53d; } }

.styles-ListItem-module--list-item--1Abme {
  list-style: none;
  margin-bottom: 1rem; }
  .styles-ListItem-module--list-item--1Abme:last-child {
    margin-bottom: 0.4rem; }
    .styles-ListItem-module--list-item--1Abme:last-child > a {
      margin-bottom: 0; }

.styles-SecondLevelMenu-module--second-level-menu--2ukEo {
  margin: 0;
  padding: 0; }

.styles-ListHeader-module--list-header--1WHxA {
  text-transform: uppercase;
  color: rgba(38, 44, 55, 0.25);
  font-size: 0.8571rem;
  margin-bottom: 2rem;
  font-weight: 600;
  line-height: normal; }

.styled-MainTransitionGroup-module--main-transition-group--1dSHt {
  width: 100%;
  height: 100%; }

.MainTransitionContainer-module--main-transition-container--2-pGq {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%; }

.styles-CookieNoticeContainer-module--cookie-notice-container--3sN3d {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  color: #fff;
  width: calc(100% - 3.2857rem * 2);
  max-width: 64.2857rem;
  bottom: 1.7142rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 0.2857rem;
  position: absolute;
  padding: 1.7142rem;
  background-color: rgba(38, 44, 55, 0.9);
  box-shadow: 0 0.2857rem 0.5714rem 0 rgba(38, 44, 55, 0.25);
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms ease; }
  @media (max-width: 767px) and (orientation: portrait) {
    .styles-CookieNoticeContainer-module--cookie-notice-container--3sN3d {
      width: calc(100% - 1.7142rem * 2);
      bottom: 1rem;
      padding: 1rem;
      -webkit-justify-content: center;
              justify-content: center;
      -webkit-flex-direction: column;
              flex-direction: column;
      line-height: 1.5; } }
  .styles-CookieNoticeContainer-module--cookie-notice-container--3sN3d.styles-CookieNoticeContainer-module--isVisible--3Tbpn {
    pointer-events: auto;
    opacity: 1; }
  .styles-CookieNoticeContainer-module--cookie-notice-container--3sN3d.styles-CookieNoticeContainer-module--transitionDisabled--JnjtQ {
    transition: none; }

.styles-PrimaryButton-module--primary-button--2xxGT {
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  text-transform: uppercase;
  width: 5.1428rem;
  margin: 0 0.5714rem 0 2.2857rem; }
  @media (max-width: 767px) and (orientation: portrait) {
    .styles-PrimaryButton-module--primary-button--2xxGT {
      margin: 1rem 0 0 0; } }

.styles-Link-module--link--2qJwj {
  color: #90c53d;
  text-decoration: none; }
  @media (hover: hover) {
    .styles-Link-module--link--2qJwj:hover {
      text-decoration: underline; } }

.styles-NativeScrollbar-module--native-scrollbar--3aTB4 .scrollbar-track {
  display: none !important; }

.styles-styles-module--swiper--1NI9t {
  width: 100%;
  height: 100%; }
  .styles-styles-module--swiper--1NI9t.styles-styles-module--native--1mfOL {
    height: auto; }

.styles-ScrollBarContainer-module--scroll-bar-container--3djQZ {
  background-color: #fff; }
  .styles-ScrollBarContainer-module--scroll-bar-container--3djQZ > div .scroll-content {
    will-change: transform; }
  .styles-ScrollBarContainer-module--scroll-bar-container--3djQZ > div .scrollbar-track {
    display: none !important; }
  .styles-ScrollBarContainer-module--scroll-bar-container--3djQZ.styles-ScrollBarContainer-module--withScrollbarY--1BqV2 > div:nth-child(2) {
    display: none !important; }
  .styles-ScrollBarContainer-module--scroll-bar-container--3djQZ.styles-ScrollBarContainer-module--withScrollbarY--1BqV2 > div:last-child {
    display: block !important; }

.styles-styles-module--isMobile--SdQT7 > div:nth-child(2) {
  height: 4px; }
  .styles-styles-module--isMobile--SdQT7 > div:nth-child(2) > div {
    height: inherit; }

.styles-styles-module--isMobile--SdQT7 > div:nth-child(3) {
  width: 4px; }
  .styles-styles-module--isMobile--SdQT7 > div:nth-child(3) > div {
    width: inherit; }

.color-color-module--defaultDark--15CHd a {
  color: rgba(38, 44, 55, 0.5); }
  .color-color-module--defaultDark--15CHd a svg path {
    fill: rgba(38, 44, 55, 0.5);
    stroke: rgba(38, 44, 55, 0.5);
    opacity: 1; }
  @media (hover: hover) {
    .color-color-module--defaultDark--15CHd a:hover {
      color: #262c37; }
      .color-color-module--defaultDark--15CHd a:hover svg path {
        opacity: 1;
        fill: #262c37;
        stroke: #262c37; } }

.color-color-module--defaultLight--8Bcy9 a {
  color: rgba(255, 255, 255, 0.5); }
  .color-color-module--defaultLight--8Bcy9 a svg path {
    fill: rgba(255, 255, 255, 0.5);
    stroke: rgba(255, 255, 255, 0.5);
    opacity: 1; }
  @media (hover: hover) {
    .color-color-module--defaultLight--8Bcy9 a:hover {
      color: #fff; }
      .color-color-module--defaultLight--8Bcy9 a:hover svg path {
        opacity: 1;
        fill: #fff;
        stroke: #fff; } }

.color-color-module--defaultFixed--2xKUC a {
  color: #262c37; }
  .color-color-module--defaultFixed--2xKUC a svg path {
    fill: #262c37;
    stroke: #262c37;
    opacity: 1; }
  @media (hover: hover) {
    .color-color-module--defaultFixed--2xKUC a:hover {
      color: #90c53d; }
      .color-color-module--defaultFixed--2xKUC a:hover svg path {
        fill: #90c53d;
        stroke: #90c53d; } }

@media (hover: hover) {
  .color-color-module--mspFixed--12KpV a:hover {
    color: #4a90e2; }
    .color-color-module--mspFixed--12KpV a:hover svg path {
      opacity: 1;
      fill: #4a90e2;
      stroke: #4a90e2; } }

@media (hover: hover) {
  .color-color-module--geomonitoringFixed--21Vdr a:hover {
    color: #009aeb; }
    .color-color-module--geomonitoringFixed--21Vdr a:hover svg path {
      fill: #009aeb;
      stroke: #009aeb; } }

@media (hover: hover) {
  .color-color-module--evergisOnlineFixed--3T8sc a:hover {
    color: #00aaff; }
    .color-color-module--evergisOnlineFixed--3T8sc a:hover svg path {
      fill: #00aaff;
      stroke: #00aaff; } }

@media (hover: hover) {
  .color-color-module--mobileMspFixed--1pcLR a:hover {
    color: #44c3f8; }
    .color-color-module--mobileMspFixed--1pcLR a:hover svg path {
      fill: #44c3f8;
      stroke: #44c3f8; } }

.styles-LongreadNavbarContainer-module--longread-navbar-container--3vNsf {
  z-index: 10;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  height: 5.7142rem;
  will-change: transform;
  transition: background 200ms linear; }
  .styles-LongreadNavbarContainer-module--longread-navbar-container--3vNsf a {
    font-size: 1.0714rem;
    padding: 0.4rem;
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    background: none;
    transition: color 200ms linear;
    font-weight: 600;
    text-decoration: none; }
    .styles-LongreadNavbarContainer-module--longread-navbar-container--3vNsf a svg {
      width: 100%;
      height: 100%;
      max-width: 1.1428rem;
      max-height: 1.1428rem; }
      .styles-LongreadNavbarContainer-module--longread-navbar-container--3vNsf a svg path {
        transition: all 200ms linear; }
  .styles-LongreadNavbarContainer-module--longread-navbar-container--3vNsf.styles-LongreadNavbarContainer-module--fixed--7Rf6W {
    box-shadow: 0 0.5714rem 0.5714rem 0 rgba(10, 18, 33, 0.05);
    background-color: #fff; }
  @media (max-width: 991px) {
    .styles-LongreadNavbarContainer-module--longread-navbar-container--3vNsf {
      height: 4.7142rem; } }
  @media (max-height: 700px) and (orientation: landscape) {
    .styles-LongreadNavbarContainer-module--longread-navbar-container--3vNsf {
      height: 4.7142rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .styles-LongreadNavbarContainer-module--longread-navbar-container--3vNsf {
      height: 3.5rem; }
      .styles-LongreadNavbarContainer-module--longread-navbar-container--3vNsf a {
        font-size: 0.9285rem; }
        .styles-LongreadNavbarContainer-module--longread-navbar-container--3vNsf a svg {
          max-width: 0.8rem;
          max-height: 0.8rem; } }

.styles-styles-module--longreadCloseBtn--FS1eK {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

a.styles-styles-module--arrowBtn--3lPPJ {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: auto; }

.styles-styles-module--leftArrowBtn--3LbXi {
  left: 3.4rem; }
  .styles-styles-module--leftArrowBtn--3LbXi svg {
    margin-right: 0.6rem; }

.styles-styles-module--rightArrowBtn--6Fjx0 {
  right: 3.4rem; }
  .styles-styles-module--rightArrowBtn--6Fjx0 svg {
    margin-left: 0.6rem;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

@media (max-width: 1199px) {
  .styles-styles-module--leftArrowBtn--3LbXi {
    left: 1.8rem; }
  .styles-styles-module--rightArrowBtn--6Fjx0 {
    right: 1.8rem; } }

@media (max-width: 767px) and (orientation: portrait) {
  a.styles-styles-module--arrowBtn--3lPPJ {
    font-size: 0; }
  .styles-styles-module--leftArrowBtn--3LbXi svg {
    margin-right: 0; }
  .styles-styles-module--rightArrowBtn--6Fjx0 svg {
    margin-left: 0; } }

.longread-styles-module--scrollbar--3O6MB {
  width: 100%;
  height: 100%; }

.longread-styles-module--londreadHtmlMobile--3QXzv {
  height: auto;
  overflow-y: auto; }

.longread-styles-module--londreadBodyMobile--3ek5y {
  height: auto; }
  .longread-styles-module--londreadBodyMobile--3ek5y #___gatsby {
    height: auto; }
    .longread-styles-module--londreadBodyMobile--3ek5y #___gatsby > div:first-child {
      height: auto; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit;
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: 700; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button; }

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box; }

* {
  box-sizing: inherit; }

*:before {
  box-sizing: inherit; }

*:after {
  box-sizing: inherit; }

body {
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt"; }

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0; }

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1; }

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1; }

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1; }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    h3 {
      margin-bottom: 1rem; } }

h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1; }

h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1; }

h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1; }

hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none; }

ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none; }

dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem; }

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%; }

fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: rgba(0, 0, 0, 0.2);
  border: none;
  height: 1px; }

address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

b {
  font-weight: bold; }

strong {
  font-weight: bold; }

dt {
  font-weight: bold; }

th {
  font-weight: bold; }

li {
  margin-bottom: calc(1.45rem / 2); }

ol li {
  padding-left: 0; }

ul li {
  padding-left: 0; }

li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2); }

li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2); }

blockquote *:last-child {
  margin-bottom: 0; }

li *:last-child {
  margin-bottom: 0; }

p *:last-child {
  margin-bottom: 0; }

li > p {
  margin-bottom: calc(1.45rem / 2); }

code {
  font-size: 0.85rem;
  line-height: 1.45rem; }

kbd {
  font-size: 0.85rem;
  line-height: 1.45rem; }

samp {
  font-size: 0.85rem;
  line-height: 1.45rem; }

abbr {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help; }

acronym {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help; }

abbr[title] {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help;
  text-decoration: none; }

thead {
  text-align: left; }

td,
th {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px); }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

tt,
code {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em; }

pre code {
  background: none;
  line-height: 1.42; }

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " "; }

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: ""; }

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%; } }

html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: "Open Sans", Tahoma, sans-serif;
  color: #262c37;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0;
  overflow: hidden;
  width: 100%;
  height: 100%; }

img {
  outline: none; }

#___gatsby {
  width: 100%;
  height: 100%; }
  #___gatsby > div:first-child {
    width: 100%;
    height: 100%; }

.styles-NavbarContainer-module--navbar-container--3uwaI {
  width: 100%;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  transition: background 200ms ease-in; }
  .styles-NavbarContainer-module--navbar-container--3uwaI.styles-NavbarContainer-module--mobileMenuIsOpen--386dj {
    height: 100%; }

.styles-Nav-module--nav--5J117 {
  margin: 0 auto;
  pointer-events: auto !important;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem; }
  @media (max-width: 991px) {
    .styles-Nav-module--nav--5J117.styles-Nav-module--mobileMenuIsOpen--3_Q_j {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: #fff;
      -webkit-flex-direction: column;
              flex-direction: column; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .styles-Nav-module--nav--5J117 {
      padding-top: 1rem;
      padding-bottom: 1rem; } }
  .styles-Nav-module--nav--5J117 * {
    pointer-events: auto !important; }

.styles-LeftSide-module--left-side--1yxkm {
  z-index: 1;
  height: 2.5421rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center; }
  @media (max-width: 991px) {
    .styles-LeftSide-module--left-side--1yxkm {
      width: 100%; } }
  @media (max-height: 480px) {
    .styles-LeftSide-module--left-side--1yxkm {
      -webkit-flex-shrink: 0;
              flex-shrink: 0; } }

.styles-LogoLink-module--logo-link--1Yhb2 {
  width: 100%;
  max-width: 10.7142rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center; }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .styles-LogoLink-module--logo-link--1Yhb2 {
      max-width: 7.1428rem; } }

.styles-Logo-module--logo--1pBhi {
  min-width: 10.7142rem;
  width: 100%;
  height: auto; }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .styles-Logo-module--logo--1pBhi {
      min-width: 7.1428rem; } }

.styles-LanguageSwitch-module--language-switch--4Dp3T {
  padding: 0 1.4285rem; }

.styles-LanguageLink-module--language-link--2hag3 {
  color: rgba(33, 34, 36, 0.5);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.7142rem;
  font-weight: 600; }
  .styles-LanguageLink-module--language-link--2hag3:first-child {
    padding-right: 0.4444rem; }
  .styles-LanguageLink-module--language-link--2hag3:last-child {
    padding-right: 0; }
  .styles-LanguageLink-module--language-link--2hag3.styles-LanguageLink-module--isActive--1l1ky {
    color: #212224; }

.styles-Menu-module--menu--1u66Q {
  z-index: 1;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  padding: 0.4457rem 0 0 0;
  margin: 0 0 0 auto; }
  @media (max-width: 991px) {
    .styles-Menu-module--menu--1u66Q {
      display: none; } }
  .styles-Menu-module--menu--1u66Q > li > a {
    transition: color 200ms ease; }
    @media (hover: hover) {
      .styles-Menu-module--menu--1u66Q > li > a:hover {
        color: #90c53d; } }
  .styles-Menu-module--menu--1u66Q > li > menu a {
    white-space: nowrap; }

.styles-MobileMenu-module--mobile-menu--3aWYw {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-flex-direction: column;
          flex-direction: column;
  margin: 0;
  z-index: 1;
  list-style: none;
  padding: 1.4714rem 0 0 0;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  width: 100%; }
  @media (max-width: 812px) and (orientation: landscape) {
    .styles-MobileMenu-module--mobile-menu--3aWYw {
      padding: 1rem 0 0 0; } }
  @media (min-width: 992px) {
    .styles-MobileMenu-module--mobile-menu--3aWYw {
      display: none; } }

.styles-LinkContainer-module--link-container--24bjH {
  margin-right: 1.4285rem;
  -webkit-align-self: flex-start;
          align-self: flex-start; }
  .styles-LinkContainer-module--link-container--24bjH:last-child {
    margin-right: 0; }
  .styles-LinkContainer-module--link-container--24bjH > a {
    display: inline-block;
    font-weight: 600;
    font-size: 1.1428rem; }
  @media (max-width: 991px) {
    .styles-LinkContainer-module--link-container--24bjH {
      -webkit-align-self: center;
              align-self: center;
      margin: 0 0 2.8571rem 0; }
      .styles-LinkContainer-module--link-container--24bjH > a {
        font-size: 1.7142rem;
        font-weight: bold; }
      .styles-LinkContainer-module--link-container--24bjH:last-child {
        margin: 0; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .styles-LinkContainer-module--link-container--24bjH {
      margin: 0 0 1.4285rem 0; }
      .styles-LinkContainer-module--link-container--24bjH > a {
        font-size: 1.1428rem; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .styles-LinkContainer-module--link-container--24bjH {
      margin: 0 0 2.1428rem 0; }
      .styles-LinkContainer-module--link-container--24bjH > a {
        font-size: 1.2857rem; } }
  @media (max-height: 480px) {
    .styles-LinkContainer-module--link-container--24bjH {
      margin: 0 0 1rem 0; }
      .styles-LinkContainer-module--link-container--24bjH > a {
        font-size: 1.1428rem; } }
  @media (max-height: 270px), only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .styles-LinkContainer-module--link-container--24bjH {
      margin: 0 0 0.4rem 0; }
      .styles-LinkContainer-module--link-container--24bjH > a {
        font-size: 1rem; } }
  .styles-LinkContainer-module--link-container--24bjH:nth-child(4) {
    display: -webkit-flex;
    display: flex; }
    .styles-LinkContainer-module--link-container--24bjH:nth-child(4) menu {
      margin-top: 2.4rem;
      -webkit-justify-content: flex-end;
              justify-content: flex-end; }
      .styles-LinkContainer-module--link-container--24bjH:nth-child(4) menu > ul {
        text-align: right; }
  .styles-LinkContainer-module--link-container--24bjH menu {
    width: 0.0001px; }

.styles-Link-module--link--2W9an {
  white-space: nowrap;
  outline: none;
  color: #262c37;
  text-decoration: none;
  font-weight: 600;
  line-height: normal; }

.styles-styles-module--activeLink--2kA8H {
  color: #90c53d; }
  .styles-styles-module--activeLink--2kA8H > span {
    position: relative; }
    .styles-styles-module--activeLink--2kA8H > span:before {
      left: 50%;
      -webkit-transform: translate(-50%, 200%);
              transform: translate(-50%, 200%);
      bottom: 0;
      position: absolute;
      display: block;
      content: "";
      width: 0.2857rem;
      height: 0.2857rem;
      background-color: #90c53d;
      border-radius: 50%; }

.styles-styles-module--mobileActiveLink--Efol7 {
  color: #90c53d; }

.styles-styles-module--coloredNav--1ndnh {
  box-shadow: 0 8px 8px 0 rgba(10, 18, 33, 0.05);
  background: white; }

.styles-styles-module--withoutAdditionalMenuAndIsActive--24tZl {
  cursor: default; }

.styles-styles-module--hamburger--3Xx1z {
  margin-left: auto;
  display: none; }
  @media (max-width: 991px) {
    .styles-styles-module--hamburger--3Xx1z {
      display: block; } }

.Background-BackgroundBlock-module--background-block--pm5cE {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  will-change: transform, opacity; }

.OutsideLink-Link-module--link--1-yuh {
  cursor: pointer;
  color: #387bc7;
  text-decoration: none;
  transition: color 200ms linear; }
  @media (hover: hover) {
    .OutsideLink-Link-module--link--1-yuh:hover {
      text-decoration: underline; } }

.Blank-module--blank--2YNtX {
  padding: 2.8571rem;
  border-radius: 0.1428rem;
  box-shadow: 0 2.2857rem 2.2857rem 0 rgba(10, 18, 33, 0.15);
  background-color: #fff; }
  @media (max-width: 991px) {
    .Blank-module--blank--2YNtX {
      padding: 2.1428rem;
      box-shadow: 0 0.8571rem 0.8571rem 0 rgba(10, 18, 33, 0.1); } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .Blank-module--blank--2YNtX {
      padding: 1.4285rem; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .Blank-module--blank--2YNtX {
      padding: 1rem; } }

.styles-AboutCardContainer-module--about-card-container--2MBcI {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  overflow: hidden; }
  @media (max-height: 344px) {
    .styles-AboutCardContainer-module--about-card-container--2MBcI {
      padding: 0.8rem; } }

.styles-Title-module--title--KJwsA {
  font-size: 1.2857rem;
  color: #90c53d;
  font-weight: 600;
  margin-bottom: 0.8rem; }
  @media (max-width: 991px) {
    .styles-Title-module--title--KJwsA {
      font-size: 1.1428rem;
      margin-bottom: 0.4rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .styles-Title-module--title--KJwsA {
      font-size: 0.8571rem; } }
  @media (max-width: 812px) and (max-height: 275px) and (orientation: landscape), only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .styles-Title-module--title--KJwsA {
      margin-bottom: 0.2rem; } }

.styles-Date-module--date--1fZ0Q {
  line-height: normal;
  font-weight: 600;
  color: rgba(38, 44, 55, 0.25); }
  @media (max-width: 991px) {
    .styles-Date-module--date--1fZ0Q {
      font-size: 0.8571rem; } }
  @media (max-width: 812px) and (max-height: 275px) and (orientation: landscape), only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .styles-Date-module--date--1fZ0Q {
      font-size: 0.7142rem; } }

.styles-Description-module--description--3FWxT {
  margin: 1.34rem 0;
  overflow: hidden; }
  @media (max-width: 991px) {
    .styles-Description-module--description--3FWxT {
      font-size: 0.8571rem;
      margin: 0.88rem 0; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .styles-Description-module--description--3FWxT {
      font-size: 0.7142rem;
      line-height: 1.4;
      margin: 1rem 0; } }
  @media (max-width: 812px) and (max-height: 275px) and (orientation: landscape), only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .styles-Description-module--description--3FWxT {
      margin: 0.4rem 0;
      font-size: 0.6428rem; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .styles-Description-module--description--3FWxT {
      margin: 0.74rem 0; } }

.styles-Logo-module--logo--1aVyE {
  margin-top: auto;
  width: auto;
  height: 1.4285rem; }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .styles-Logo-module--logo--1aVyE {
      height: 1rem; } }
  @media (max-width: 812px) and (max-height: 275px) and (orientation: landscape), only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .styles-Logo-module--logo--1aVyE {
      height: 0.8rem; } }

a.styles-styles-module--read--3y7pF {
  color: #90c53d; }

.styles-Container-module--container--2H9ja {
  position: relative;
  margin-bottom: 5rem; }
  .styles-Container-module--container--2H9ja:before {
    content: "";
    width: 9.1428rem;
    height: 0.2857rem;
    position: absolute;
    background-color: #f3f4f7;
    top: 0;
    left: 0; }
  @media (max-width: 991px) {
    .styles-Container-module--container--2H9ja {
      margin-bottom: 3.4285rem; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .styles-Container-module--container--2H9ja {
      margin-bottom: 1.7142rem; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .styles-Container-module--container--2H9ja {
      margin-bottom: 2.2857rem; } }

.styles-Logo-module--logo--1dcgc {
  width: auto;
  height: 3.4285rem;
  margin: 2.8rem 0 1.8rem 0; }
  @media (max-width: 1199px) {
    .styles-Logo-module--logo--1dcgc {
      height: 2.8571rem; } }
  @media (max-width: 991px) {
    .styles-Logo-module--logo--1dcgc {
      height: 2.2857rem;
      margin: 1.8rem 0 1rem 0; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .styles-Logo-module--logo--1dcgc {
      height: 1.7142rem;
      margin: 1.4rem 0 0.7rem 0; } }

.styles-Title-module--title--V65bI {
  font-size: 1.2857rem;
  font-weight: 600;
  margin-bottom: 0.8rem; }


.styles-Description-module--description--11FJ6 {
  font-size: 1rem;
  margin: 1.34rem 0;
  line-height: 1.43; }
  @media (max-width: 991px) {
    .styles-Description-module--description--11FJ6 {
      font-size: 0.8571rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .styles-Description-module--description--11FJ6 {
      font-size: 0.7142rem;
      line-height: 1.4;
      margin: 1rem 0; } }
  @media (max-width: 812px) and (max-height: 275px) and (orientation: landscape), only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .styles-Description-module--description--11FJ6 {
      margin: 0.4rem 0;
      font-size: 0.6428rem; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .styles-Description-module--description--11FJ6 {
      margin: 0.74rem 0; } }

.styles-styles-module--read--y-UKL {
  color: #90c53d; }

.cms-Viewport-module--viewport--nxPIh {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  z-index: 4; }

.cms-Container-module--container--3Ni2N {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  width: 100vw;
  height: 100vh;
  position: relative; }

.cms-Row-module--row--QKXVi {
  padding: 4.4rem; }


.Main-module--main--3EzpM {
  max-width: 114.2857rem;
  padding: 5.9285rem 6.4285rem 0 6.4285rem;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
  margin: 0 auto; }
  @media (max-width: 1199px) {
    .Main-module--main--3EzpM {
      padding: 5.9285rem 3.2857rem 0 3.2857rem; } }
  @media (max-width: 991px) {
    .Main-module--main--3EzpM {
      padding-top: 5.7142rem; } }
  @media (max-width: 812px) and (orientation: landscape), (max-width: 767px) and (orientation: portrait) {
    .Main-module--main--3EzpM {
      overflow: hidden;
      padding: 4.5714rem 1.7142rem 0 1.7142rem; } }

.Section-Side-module--side--3fq9G {
  will-change: transform, opacity; }

@media (max-width: 767px) and (orientation: portrait) {
  .about-Main-module--main--1A8so {
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-start;
            align-items: flex-start; } }

@media (max-width: 812px) and (orientation: landscape) {
  .about-Main-module--main--1A8so {
    padding-bottom: 1.2rem; } }

.about-LeftSide-module--left-side--E61xx {
  z-index: 1; }
  @media (max-width: 812px) and (orientation: landscape) {
    .about-LeftSide-module--left-side--E61xx {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
              justify-content: center;
      -webkit-flex-direction: column;
              flex-direction: column;
      height: 100%;
      margin-bottom: 1.4rem; }
      .about-LeftSide-module--left-side--E61xx h1 {
        margin-bottom: 0.4rem; } }

.about-RightSide-module--right-side--nrrDL {
  width: 100%;
  height: 100%; }
  @media (max-width: 767px) and (orientation: portrait) {
    .about-RightSide-module--right-side--nrrDL {
      -webkit-align-self: center;
              align-self: center;
      max-width: 20.1428rem; } }

.about-NewsContainer-module--news-container--2Mvu0 {
  width: 28.5714rem;
  height: 26rem;
  position: relative; }
  @media (max-width: 991px) {
    .about-NewsContainer-module--news-container--2Mvu0 {
      width: 22.8571rem;
      height: 24.3571rem; } }
  @media (max-width: 767px) and (orientation: portrait) {
    .about-NewsContainer-module--news-container--2Mvu0 {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
              justify-content: center;
      width: 100%;
      max-height: 18.0714rem;
      margin-bottom: 3.4rem; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .about-NewsContainer-module--news-container--2Mvu0 {
      height: 100%;
      max-height: 18.0714rem;
      margin-bottom: 1.4rem; } }

.about-styles-module--background--2_nCJ {
  will-change: transform;
  bottom: auto;
  right: auto;
  top: -13rem;
  left: 0;
  height: calc(100% + 26rem); }
  @media (max-width: 1199px) {
    .about-styles-module--background--2_nCJ {
      top: -20rem;
      left: -82rem;
      width: calc(100% + 100rem);
      height: calc(100% + 51rem); } }
  @media (max-width: 767px) and (orientation: portrait) {
    .about-styles-module--background--2_nCJ {
      top: -43rem;
      left: -84rem;
      width: calc(100% + 93rem);
      height: calc(100% + 79rem); } }
  @media (max-width: 767px) and (orientation: portrait) and (max-height: 490px) {
    .about-styles-module--background--2_nCJ {
      top: -53rem; } }
  @media (max-width: 812px) and (orientation: landscape) {
    .about-styles-module--background--2_nCJ {
      top: -21rem;
      left: -79rem;
      width: calc(100% + 90rem);
      height: calc(100% + 44rem); } }

.transition-transition-module--entered--1y_2e {
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.transition-transition-module--exiting--3-YAw {
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.transition-fade-module--entering--2HMew {
  opacity: 0; }

.transition-fade-module--entered--KW16D {
  opacity: 1; }

.transition-fade-module--exiting--2-vwg {
  opacity: 0; }

.transition-slideUp-module--entering--2OLuc {
  pointer-events: none;
  -webkit-transform: translateY(40%);
          transform: translateY(40%); }

.transition-slideUp-module--entered--dfIfE {
  -webkit-transform: translateY(0px);
          transform: translateY(0px); }

.transition-slideUp-module--exiting--2O3Xf {
  pointer-events: none;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%); }

.transition-slideDown-module--entering--3LRPf {
  pointer-events: none;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%); }

.transition-slideDown-module--entered--2jxog {
  -webkit-transform: translateY(0px);
          transform: translateY(0px); }

.transition-slideDown-module--exiting--1z1Ma {
  pointer-events: none;
  -webkit-transform: translateY(40%);
          transform: translateY(40%); }

.transition-slideLeft-module--entering--2e4uz {
  pointer-events: none;
  -webkit-transform: translateX(20%);
          transform: translateX(20%); }

.transition-slideLeft-module--entered--1Syd1 {
  -webkit-transform: translateX(0px);
          transform: translateX(0px); }

.transition-slideLeft-module--exiting--cU-3n {
  pointer-events: none;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%); }

.transition-slideRight-module--entering--72J1N {
  pointer-events: none;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%); }

.transition-slideRight-module--entered--2jUH5 {
  -webkit-transform: translateX(0px);
          transform: translateX(0px); }

.transition-slideRight-module--exiting--AFQ7d {
  pointer-events: none;
  -webkit-transform: translateX(20%);
          transform: translateX(20%); }

.transition-scrollScreenshotTransition-module--entered--3j5Mi {
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.transition-scrollScreenshotTransition-module--exiting--IzAqL {
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.transition-scrollScreenshotTransitionNext-module--entered--11B6B {
  transition-delay: 400ms;
  transition-duration: 200ms;
  transition-timing-function: ease;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.transition-scrollScreenshotTransitionNext-module--exiting--2SUxg {
  transition-delay: 400ms;
  transition-duration: 200ms;
  transition-timing-function: ease;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.transition-screenshotSlideUp-module--entering--3JW61 {
  pointer-events: none;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem); }

.transition-screenshotSlideUp-module--entered--3-cdN {
  -webkit-transform: translateY(0px);
          transform: translateY(0px); }

.transition-screenshotSlideUp-module--exiting--1oDAc {
  pointer-events: none;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem); }

.transition-screenshotSlideDown-module--entering--12D_V {
  pointer-events: none;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem); }

.transition-screenshotSlideDown-module--entered--U_mSC {
  -webkit-transform: translateY(0px);
          transform: translateY(0px); }

.transition-screenshotSlideDown-module--exiting--17AGn {
  pointer-events: none;
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem); }


/*# sourceMappingURL=cms.css.map*/